 .textsize{
     font-size: 50px;
     font-family: 'Montserrat', sans-serif;
     font-family: 'Quicksand', sans-serif; 
    }
    .border{
        border: 20px solid black;
        margin:25px 0 25px 0;
        left:0;
    }

     .countryname{
font-size:xx-large;
font-family: 'Abel', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Thasadith', sans-serif;
     }

     .textstyle{
        font-family: 'Abel', sans-serif;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Nanum Myeongjo', serif;
        font-family: 'Poiret One', cursive;
        font-family: 'Quicksand', sans-serif;
     }
  @media only screen and (max-width: 800px){
    .textsize{
        font-size: 38px;
    }
    .countryname{
        font-size:x-large;
             }
  }
